/* Your existing styles */
body, h1, h2, h3 {
    font-family: 'Rubik Bubbles', sans-serif;
}

/* Add more specific styles as needed */

.social-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.social-icons a {
    margin: 0 10px;
    text-decoration: none;
}

/* Navigation Menu Styles */
nav {
    margin-top: 10px;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #333; /* Background color for the navigation bar */
    padding: 10px; /* Add some padding for better visual appearance */
    border-radius: 5px; /* Add rounded corners for a modern look */
}

nav li {
    margin: 0 15px;
}

nav a {
    text-decoration: none;
    color: #fff; /* Set the text color to white */
    font-weight: bold;
    transition: color 0.3s ease; /* Add a smooth color transition on hover */
}

nav a:hover {
    color: #007BFF; /* Change the text color on hover */
}
